.idea/
target/

*.log
deploy/bin
deploy/conf
deploy/tomcat
deploy/ext
output
classes
*.jar
*.tar.gz
api/api.iml
*/*.iml
#*/target
gaea-canary-provider.iml
gaea-canary-parent.iml

disconf/
shutter
biz/shutter
*.iml


.DS_Store
